.image-to-db {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.image-to-db__upload {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-grid-container {
  column-count: 2;
  column-gap: 10px;
}

.image-grid-container>div {
  margin: 0 0 10px 0;
  display: grid;
}

.image-grid-container>div>.grid-image {
  cursor: pointer;
  grid-row: 1 / -1;
  grid-column: 1;
   width: 100%;
  object-fit: cover;
  transition: opacity .8s ease-in-out 
}

.carousel-image-wrapper {
  display: flex;
  justify-content: center;
  height: 220px;
  margin: 0;
}

.carousel-image {
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}

.image-details>dt {
  font-weight: bold;
}

.carousel-item {
  margin: 0;
  height: 150px;
  max-height: 300px;
  color: #fff;
  line-height: 160px;
  text-align: center;
  background: #364d79;
}

.ant-carousel .slick-prev,
.ant-carousel .slick-next,
.ant-carousel .slick-prev:hover,
.ant-carousel .slick-next:hover {
  font-size: inherit;
  color: currentColor;
}

.ant-carousel .slick-prev::before,
.ant-carousel .slick-next::before {
  content: '';
}

.ant-carousel .slick-prev,
.ant-carousel .slick-prev:hover {
  left: 10px;
  z-index: 2;
  color: white;
  background-color: #364d79;
}

.ant-carousel .slick-next,
.ant-carousel .slick-next:hover {
  right: 10px;
  z-index: 2;
  color: white;
  background-color: #364d79;
}

.slick-next > *, .slick-prev > * {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

@media (min-width: 768px) {
  .image-to-db {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1.8rem;
  }

  .image-to-db>div {
    width: 50%;
  }

  .image-grid-container {
    column-count: 4;
    column-gap: 12px;
  }
}